@model LNK.AppServices.Lnk.Models.Account.ChangePasswordModel
@{
    ViewData["Title"] = "ChangePassword";
    var modelState = ViewData.ModelState;
    var errors = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).ToList();
}


<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <main>
            <center>
                <h5 class="indigo-text" style="text-align:center;">Change your password</h5>
                @if (!modelState.IsValid)
                {
                    <span class="red-text text-darken-1">Cannot change your password. Please try again</span>
                }
                <div class="section"></div>
                @*@if (ViewBag.Confirm != null)
                {
                    <script type="text/javascript">
                        window.onload = function () {
                        alert("@ViewBag.Confirm");
                        };
                    </script>

                }*@
                <div class="container">
                    <div class="z-depth-1 lighten-4 row" style=" padding: 32px 48px 32px 48px; border: 1px solid #EEE;">
                        <form asp-controller="Account" asp-action="ChangePassword" method="post">
                            @*@if (ViewBag.Confirm != null)
                            {
                                <div id="changeEvent" class="row modal" style="top:0%; margin-bottom:0px">
                                    <div class="col s12 center-align">
                                        <a class="modal-action modal-close right " style="color:#ad1457 "><i class="material-icons">close</i></a>
                                    </div>
                                    <div class="lighten-4 row" style="margin-bottom:auto; display: inline-block; padding: 0px 48px 30px 48px;">
                                        <div class="modal-dialog center">
                                            <div class="modal-body">
                                                @ViewBag.Confirm
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }*@
                            <div class='row'>
                                <div class='input-field col s12'>
                                    @Html.TextBoxFor(a => a.CurrentPassword, new { type = "password", autocomplete = "off", @required = "required" })
                                    <label for='currentpassword'>Your current password</label>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='input-field col s12'>
                                    @Html.TextBoxFor(a => a.NewPassword, new { type = "password", autocomplete = "off", @required = "required" })
                                    <label for='newpassword'>Your new password</label>
                                </div>
                            </div>

                            <div class='row'>
                                <div class='input-field col s12'>
                                    @Html.TextBoxFor(a => a.ConfirmNewPassword, new { type = "password", autocomplete = "off", @required = "required" })
                                    <label for='confirmnewpassword'>Confirm your new password</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2">
                                    <br />
                                    <center>
                                        <div class='row'>
                                            <button type="submit" class='btn modal-trigger col s12 btn btn-large waves-effect light-blue lighten-1' name="" value="">Change password</button>
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </center>
        </main>
    </div>
</div>

@*----------------Modal-------------*@
@*@if (ViewBag.Confirm != null)
{
    <div id="changeEvent" class="row modal" style="top:0%; margin-bottom:0px">
        <div class="col s12 center-align">
            <a class="modal-action modal-close right " style="color:#ad1457 "><i class="material-icons">close</i></a>
        </div>
        <div class="lighten-4 row" style="margin-bottom:auto; display: inline-block; padding: 0px 48px 30px 48px;">
            <div class="modal-dialog center">
                <div class="modal-body">
                    @ViewBag.Confirm
                </div>
            </div>
        </div>
    </div>
}*@



 <!-- Modal Trigger -->
@if (Model.ChangePasswordSuccess)
{

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <p>@ViewBag.Confirm</p>
        </div>
        <div class="modal-footer">
            <a href="~/Home/Index" class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
        </div>
    </div>
}


@*-----------------End Modal---------------*@

