@using LNK.Domain.Users.Models
@model User
@{
    ViewData["Title"] = "Edit User";
    var modelState = ViewData.ModelState;
}

<div class="section">

</div>

<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <main>
            <center>
                <h5 class="indigo-text" style="text-align:center;">Update User's Information</h5>
                <div class="section"></div>
                <span class="indigo-text">Hello  @Model.Email</span>
                <div class="section"></div>
                <div class="container">
                    <div class="z-depth-1 lighten-4 row" style=" padding: 32px 48px 32px 48px; border: 1px solid #EEE;">
                        <form asp-controller="Account" asp-action="Edit" method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" value="@Model.Email" name="email">

                            <div class='row'>
                                <div class='input-field col s12'>
                                    @Html.TextBoxFor(model => model.FirstName, new { @class = "validate", autocomplete = "off" })
                                    <label for="firstname">First Name</label>
                                </div>
                            </div>

                            <div class='row'>
                                <div class='input-field col s12'>
                                    @Html.TextBoxFor(model => model.MiddleName, new { @class = "validate", autocomplete = "off" })
                                    <label for="middlename">Middle Name</label>
                                </div>
                            </div>

                            <div class='row'>
                                <div class='input-field col s12'>
                                    @Html.TextBoxFor(model => model.LastName, new { @class = "validate", autocomplete = "off" })
                                    <label for="lastname">Last Name</label>
                                </div>
                            </div>

                            <div class='row'>
                                <div class='input-field col s12'>
                                    @Html.TextBoxFor(model => model.Gender, new { @class = "validate", autocomplete = "off" })
                                    <label for="gender">Gender</label>
                                </div>
                            </div>

                            <div class='row'>
                                <div class='input-field col s12'>
                                    @Html.TextBoxFor(model => model.Country, new { @class = "validate", autocomplete = "off" })
                                    <label for="country">Country</label>
                                </div>
                            </div>

                            @*<div class='row'>
                                <div class='input-field col s12'>
                                    @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "validate", autocomplete = "off" })
                                    <label for="dateofbirth">Date of birth</label>
                                </div>
                            </div>*@
                            <input type="hidden" value="@Model.Id" name="id">
                            <br />
                            <center>
                                <div class='row'>
                                    <button type='submit' name='btn_save' class='col s12 btn btn-large waves-effect blue'>Save</button>
                                </div>
                            </center>
                        </form>
                    </div>
                </div>
            </center>
        </main>
    </div>
</div>