@using LNK.Queries.FlashCards
@model FlashCardDetails


<div class="row" style="top:0%; margin-bottom:0px">
    <div class="col s12 center-align">
        <a class="modal-action modal-close right " style="color:#ad1457 "><i class="material-icons">close</i></a>
    </div>
    <div class="lighten-4 row" style="margin-bottom:auto; inline-block; padding: 0px 48px 30px 48px;">
        <div class="modal-dialog center">
            <div class="modal-header">
                <div class="col s12 center-align">
                    <h4 class="flow-text glyphicon-bold orange-text text-darken-1">@Model.FlashCardCategoryName</h4>
                </div>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("EditFlashCard", "FlashCards", new { returnUrl = Context.Request.Query["returnUrl"] }, FormMethod.Post, false, new { @class = "col s12" }))
            {
                    @Html.Hidden("returnUrl")
                    <div class='row'>
                        <div class='col s12'>
                        </div>
                    </div>
                    <div class='row'>
                        <div class="input-field col s12">
                            @Html.TextBoxFor(it => it.FaceA, new { @class = "validate", autocomplete = "off", WriteAttributeValue = Model.FaceA })
                            <label class="active" for="faceA">The content of Term</label>
                        </div>
                        <div class="section"></div>
                    </div>
                    <div class='row'>
                        <div class="input-field col s12">
                            @Html.TextBoxFor(it => it.FaceB, new { @class = "validate", autocomplete = "off", WriteAttributeValue = Model.FaceB })
                            <label class="active" for="faceB">The Desciption</label>
                        </div>
                        <div class="section"></div>
                    </div>
                    @Html.HiddenFor(it => it.FlashCardCategoryId);
                    @Html.HiddenFor(it => it.FlashCardCategoryName);
                    @Html.HiddenFor(it => it.DisplayOrder);
                    <center>
                        <div class='row'>
                            <button type='submit' name='btn_save' class='col s12 btn btn-large light-blue lighten-1'>Save</button>
                        </div>
                    </center>
                }
            </div>
        </div>
    </div>
</div>