@using LNK.Queries.FlashCards
@model FlashCardCategoryDetails


<div class="row" style="top:0%; margin-bottom:0px">   
    <div class="col s12 center-align">
        <a class="modal-action modal-close right " style="color:#ad1457 "><i class="material-icons">close</i></a>
    </div>
    <div class="lighten-4 row" style="margin-bottom:auto; inline-block; padding: 0px 48px 30px 48px;" >
        <div class="modal-dialog center">
            <div class="modal-header">
                <div class="col s12 center-align">
                    <h4 class="flow-text glyphicon-bold orange-text text-darken-1">CHANGE THE CURRENT CATEGORY</h4>
                </div>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("EditCategory", "Categories", new { returnUrl = Context.Request.Query["returnUrl"] }, FormMethod.Post, false, new { @class = "col s12" }))
            {
                    @Html.Hidden("returnUrl")
                    <div class='row'>
                        <div class='col s12'>
                        </div>
                    </div>
                    <div class='row'>
                        <div class="input-field col s12">
                            @Html.TextBoxFor(it => it.Name, new { @class = "validate", autocomplete = "off", WriteAttributeValue = Model.Name })
                            <label class="active" for="name_category">Name's Category</label>
                        </div>
                        @Html.HiddenFor(it => it.UserEmail)
                        @Html.HiddenFor(it => it.UserId)
                        @Html.HiddenFor(it => it.DisplayOrder)
                        <div class="section"></div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6 l6 left-align">
                            <p>
                                @Html.CheckBoxFor(it => it.IsFaceAShowFirst, new { id = "checkFaceA", type = "checkbox", WriteAttributeValue = Model.IsFaceAShowFirst })
                                @*<input type="checkbox" id="indeterminate" />*@
                                <label for="checkFaceA">The face A will show first!</label>
                            </p>
                        </div>
                        <div class="col s12 m6 l6 left-align">
                            <p>
                                @*<input type="checkbox" id="indeterminate" />*@
                                @Html.CheckBoxFor(it => it.IsRandom, new { id = "random", type = "checkbox", WriteAttributeValue = Model.IsRandom })
                                <label for="random">Random play the Flashcards</label>
                            </p>
                        </div>
                    </div>                    
                    <center>
                        <div class='row'>
                            <button type='submit' name='btn_save' class='col s12 btn btn-large light-blue lighten-1'>Save</button>
                        </div>
                    </center>
                }
            </div>
        </div>
    </div>
</div>